/* Importação corrigida sem o ~ */
@import "@angular/material/prebuilt-themes/azure-blue.css";

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

html, body { 
  height: 100%; 
  margin: 0; 
}

body { 
  font-family: Roboto, "Helvetica Neue", sans-serif; 
  background-color: #fafafa;
}